@charset "utf-8";
/* CSS Document */


body{ font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
font-size:16px; line-height:1.6em; color:#666;}

a{ color:#8cb851;  }
a:hover{ color:#8cb851;  }


*:focus {
    outline: 0 !important;
}


.btn-success{ background:#66bc29; border:#66bc29 solid 1px;}
.btn-success:hover{ background:#55a51c; border:#66bc29 solid 1px;}

.btn-outline-success { color: #66bc29; border-color: #66bc29;}

.btn-outline-success:hover{ background:#66bc29;}

.title-h1{ color:#a3d55f;  font-weight:bold; text-align:center; font-family: "Sawarabi Mincho"; font-size:42px; line-height:1.6em;}
.title-h1 span{ display:block; font-weight:normal; font-size:16px; color:#666; line-height:16px; font-family:Arial, Helvetica, sans-serif;}
.title-h3{ border-bottom:#dedede solid 1px; padding-left:10px; display:block; font-size:16px; padding-bottom:10px; font-weight:normal; font-family:Arial, Helvetica, sans-serif;}
.title-h3 span{color:#a3d55f; font-size:23px; padding-right:10px; font-weight:bold;}

.box-detail .text-detail{padding-left:10px; padding-right:10px;}

.txt-center{text-align:center;}
.txt-left{text-align:left;}
.txt-right{text-align:right;}

.f-right{float:right;}

.m-top20{margin-top:20px;}
.m-top30{margin-top:30px;}
.m-top40{margin-top:40px;}
.m-top50{margin-top:50px;}

.col-xs-6 img{max-width:100%;}

footer .footer-top{background:#f2eadd;}
footer .footer-bottom{ background:#a79d8d; color:#FFF; padding-top:15px; padding-bottom:5px; font-size:14px; line-height:1.6em;}
footer .footer-bottom p{padding-bottom:0px;}

header .box-left{ width:150px; float:left;}
header .logo{margin-top:13px; width:150px; text-align:center;}
header .logo a{color:#666 !important;}
header .logo img{display:block; margin:auto;}
header .logo span{display:block; color#666;}

header .box-right{ margin-left:150px; }
header .group-contact{ width:390px; display:block; float:right; margin-top:20px;} 

header .header-bottom {padding-top:16px;}
header .header-bottom ul{padding:0px;display: table;
    margin: 0 auto;}

header .header-bottom li{list-style:none; float:left; text-align:center;  background:linear-gradient(#dedede,#dedede) right  no-repeat; background-size:1px 50%; 
box-sizing: border-box;    padding: 0 18px;}

header .header-bottom li:last-child { background:none;}

header .header-bottom li span{display:block;}

header .header-bottom li .txt-title{ font-size:17px;}
header .header-bottom li .txt-bottom{ font-size:12px; color:#b8b8b8;}

header .header-bottom li a{ color:#666 !important; display:block; width:100%; padding-top:9px; padding-bottom:9px;   }
header .header-bottom li a.active {border-bottom:#a3d55f solid 3px;}


header .header-bottom li a:hover ,  header .header-bottom li a.active{ color:#8cb851 !important; text-decoration:none;}
header .header-bottom li a:hover .txt-bottom,  header .header-bottom li a.active .txt-bottom{ color:#8cb851;}

header .header-bottom li a{padding-bottom:18px !important;}    


footer .footer-top a{ color:#666;}
footer .footer-top a:hover{ color:#000; text-decoration:none;}
footer .footer-top{padding-top:45px; padding-bottom:45px;}

footer .footer-top .container{ display:table; table-layout:fixed;}
footer .footer-top .container .box-contact-box-4{ 
    display:table-cell;  
    background: linear-gradient(#cbc0b7,#cbc0b7) right no-repeat;
    background-size: 1px 100%;
    box-sizing: border-box; 
	vertical-align: top;
}

footer .footer-top .container .box-contact-box-4:last-child{ background:none;}
	
footer .footer-top .container .box-contact-box-4{width:247px; padding-left:48px;}
footer .footer-top .container .box-contact-info.box-contact-box-4{width:339px;}


footer .footer-top .box-info{ width:360px;  }
footer .footer-top .box-info .box-top{text-align:center;border-bottom:#cbc0b7 solid 1px;}
footer .footer-top .box-info .box-top p{padding-bottom:0px;}
footer .footer-top .box-info .box-top img{display:block; margin:auto;}
footer .footer-top .box-info .box-bottom{ font-size:12px; margin-top:10px; text-align:center;} 
footer .footer-top .box-info .group-social{ text-align:center;}
footer .box-contact-footer{text-align:center;}

footer .box-contact-footer {width:100%;}
footer .box-contact-footer .col-xs-6 {width:50%;}
footer .box-contact-footer .col-xs-12 {width:100%;}

footer .box-contact-footer  .box-contact{margin-top:10px;}
footer .box-contact-footer .btn-link{text-align:center;}
footer .box-contact-footer  .btn-link{width:100%; text-align:center; display:block;}
footer .box-contact-footer  .box-tel  .btn-link{width:100%; text-align:center; margin-top:10px; font-weight:bold;}


.contact-top .row a{font-size:12px;}
.contact-top .box-tel{margin-top:10px;}
.contact-top .box-tel a{ font-size:20px; width:100%; }
.contact-top .box-tel .col-xs-12{width:100%;}


.group-mainbanner{ height:525px; }
.group-mainbanner .slide-list{height:525px;}

.group-subbanner{ height:400px; }
.group-subbanner .slide-list{height:400px;}

.group-subbanner .container{position:relative; }

.group-subbanner .bg-container{ background:#666; width:100%; height:100%; display:block;  left:0px; top:0px;  background:url(../../images/bg_text67.png) repeat; }

.group-subbanner .bg-container .container{ display: flex; height:100%; }
.group-subbanner .container  .banner-title{ align-self: flex-end;  font-size:52px; line-height:1.2em; font-weight:bold; color:#FFF; font-family: "Sawarabi Mincho";  
text-align:left;  padding-bottom:20px; display:block;  width:90%;   text-shadow: 1px 1px 5px rgba(150, 150, 150, 1); }


.box-white{ padding-top:50px; padding-bottom:70px;}
.box-gray{background:url(../../images/bg_gray.jpg) no-repeat;  background-position: center;   background-size: cover; padding-top:50px; padding-bottom:70px; }
.box-gray-plain{ background:#faf9f6; padding-top:50px; padding-bottom:70px;}

.group-room-x3{ margin-top:35px;}
.box-group-room{background:#FFF; -webkit-box-shadow: 1px 1px 5px 0px rgba(163,163,163,1);
-moz-box-shadow: 1px 1px 5px 0px rgba(163,163,163,1);
box-shadow: 1px 1px 5px 0px rgba(163,163,163,1);}
.box-room-img{ height:278px;}
.box-room-detail{ padding-top:15px; padding-bottom:20px; text-align:center;  background-size: cover; padding-left:16px; padding-right:16px;}


.group-room-x4{ margin-top:40px;}
.box-room-img{ height:208px;}


.room_gallerybox{padding-top:20px; }
.room_gallerybox .main-gallery .select-img{ height:600px; position:relative;   /*height:618px; */ background:#000; display:block; position:relative;}  

.select-img img{max-height:600px; max-width:100%; width:100%; height:auto; position: absolute;               /* 2 */
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%) ; 
   object-fit: contain;
   
   }







.room_gallerybox  ul{ padding-left:0px; padding-right:0px;} 
.room_gallerybox .gallery-list li{ float:left; list-style:none; padding-right:15px;}
.room_gallerybox .gallery-list li div{width:156px; height:97px;}

.table-style1{table-layout:fixed;  border-collapse: separate;  border-spacing: 15px;}
.table-style1 th , .table-style1 td{vertical-align:top; padding:10px 10px;}
.table-style1 th{background:#f1ffdd; width:150px; font-weight:normal;}

.box-room-info .box-content{padding-left:16px; padding-right:16px;}

.pc-p-bottom50{padding-bottom:50px !important;}

.fac-group .row { display: -webkit-flex;   display:-ms-flexbox; display:flex; }
.fac-group ,row .box-group-room{ flex:1;  }
.fac-group ,row .box-group-room .box-room-detail{display: flex; height:100%;}

/* inquire */

.form-inquire{width:680px; margin:auto; margin-top:25px;}
.form-inquire th{width:100%; display:block; font-weight:normal; padding-top:15px;}

.form-inquire th span{color:#be0008;}
.txt-red{ color:#be0008;}
.screen-reader-response,.wpcf7-not-valid-tip,.wpcf7-response-output{ color:#be0008;}

.wpcf7-response-output{ margin-top:20px;}

.form-inquire td{width:100%; display:block; }
.form-inquire tr:last-child td{margin-top:30px;}

.text-contact{width:680px; margin:auto; margin-top:40px;}
.form-inquire .table-contact-us{width:100%;}
.form-inquire  .wpcf7-text{width:100%; padding-top:10px; padding-bottom:10px; box-sizing : border-box;}
.form-inquire  .wpcf7-textarea{width:100%; padding-top:10px; padding-bottom:10px; box-sizing : border-box;}


.form-inquire .wpcf7-submit{width:350px; display:block; background: #55a51c; margin:auto;
border: #66bc29 solid 1px; color:#FFF; padding-top:10px; padding-bottom:10px; cursor:pointer; font-weight:bold; border-radius:.25rem; border: #66bc29 solid 1px;}

.block-map .map{width:100%; height:300px; margin-top:20px;}
.block-map .text-contact{margin-top:20px ; text-align:center; }

.btn-mid-width{width:125px; margin-top:10px; }
/* inquire end */

a .list-rooms .box-room-detail{ color:#666; }
.group-room-detail{padding-top:10px;}



.box-room-detail{ color:#666;}

a:hover .list-rooms .box-room-detail{ background:#f6f6f6; text-decoration:none !important; }

/*
a:hover .list-rooms .box-room-img{background:#FFF; opacity: 0.60;
    filter: alpha(opacity=60); }*/
	
	

a.box-room:hover{text-decoration:none !important; }




/* nav mobile */


.nav_mobile {
    display: none;
}
.nav_mobile {
    padding: 0 16px;
    position: absolute;
    right: 0;
    top: 51px;
}
.nav_mobile a, .nav_mobile a:hover, .nav_mobile a:active {
    color: #464646;
    font-size: 24px;
	text-decoration:none;
}

/* nav mobile end */






/*  menu mobile */
.nav_mobile {
    display: none;
}
.nav_mobile {
    padding: 0 16px;
    position: absolute;
    right: 0px;
    top: 14px;
}
.nav_mobile a, .nav_mobile a:hover, .nav_mobile a:active {
    color: #464646;
    font-size: 24px;
	text-decoration:none;
}

.menu_mobile{ position:absolute; width:100%; height:100%; background:#FFF; left:0px; top:0px; position:fixed; overflow:hidden ; display:none; overflow:auto; z-index:9999;
	 max-width:320px; 
	    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
		overflow-y: scroll;   -webkit-overflow-scrolling:touch;
		/*display:none;*/
		
}		

.menu_header{ background:#303030;  position:absolute; width:100%; height:50px; } 

.menu_header .menu_title {
    color: #fff;
    font-size: 1.05em;
    font-weight: 500;
    line-height: 67px;
    margin-left: 20px;
}

.f-nav{ z-index:9999;position: fixed; top:0; width: 100%;} /* this make our menu float top */

li.sub_menu a::before{ content:' - '; }	

.menu_mobile .group_menu { position:absolute; left:0px; top:0px; z-index:1001; width:100%;}
.menu_mobile .group_menu ul{ position:absolute; left:0px; top:0px; color:#212121; width:150px; height:250px; display:block; margin-top:67px; list-style:none; width:100%;  margin-left:0px; padding-left:0px; }
.menu_mobile .group_menu li{float:none; left:0px; line-height:50px; font-size:16px; font-weight:500; width:100%; border-bottom:#333 solid 1px; margin-left:0px;}
.menu_mobile .group_menu  a{color:#212121; margin-left:0px; line-height:50px; padding-left:21px; width:100%; height:100%; display:block; text-decoration:none;}
.menu_mobile .group_menu  li a span{ padding-right:10px;}
.menu_mobile .group_menu .btn-close a{text-align:center; padding-right:18px; padding-left:20px; padding-top:0px; line-height:46px; font-weight:normal; color:#FFF; text-indent:-9999px; background:url(../../images/btn_close.png) 6px 19px no-repeat;}
.menu_mobile .group_menu .btn-close{position:absolute; right:0px; top:9px; font-size:21px; font-weight:bold; line-height:45px; text-align:center; } 

.menu_mobile .group_menu i.fa-chevron-right{ margin-right: 20px;     margin-top: 17px; float:right;}
.menu_mobile .group_menu .lang-list{ padding-left:21px; height:70px; overflow:hidden; }
.menu_mobile .current-lang{background:#333; color:#FFF; font-size:12px; padding:5px; padding-left:8px; padding-right:8px !important; width:auto; margin-right:10px; text-align:center;}

.menu_mobile .group_menu .lang-list a{float:left;  text-align:center; width:40px; height:35px; line-height:35px; display:block; text-align:left; padding:0px; margin:0px; text-align:center; background:#EFEFEF; margin-right:5px; }
.menu_mobile .box-social{position:relative; }
.menu_mobile .groupbox-social{height:145px; margin-top:5px;}
.menu_mobile .box-social span{padding-left:35px;}
.menu_mobile .fa-phone-square,.menu_mobile .fa-facebook-square, .menu_mobile .fa-envelope-square{ font-size:32px; position:absolute; top:5px;}
.menu_mobile .groupbox-social a{line-height:45px;}


.menu_mobile .group_menu i.fa-chevron-down , .menu_mobile .group_menu i.fa-chevron-up{ float:right;  margin-right: 20px;  margin-top: 17px;}
.menu_mobile .group_menu li .sub-menu{ position:relative; height:auto;}
.menu_mobile .group_menu ul .sub-menu ul{ position:relative; padding:0px; margin:0px; height:auto;}
.menu_mobile .group_menu ul .sub-menu ul li{border-bottom:none;}
.menu_mobile .group_menu ul .sub-menu ul li a::before{ content:" - ";  }


/* config menu mobile */
.menu_header{background:#FFF; border-bottom:#212121 solid 1px;  height:67px; border-top:#411704 solid 5px;}
.menu_mobile .fa-phone-square{ color:#ff8e29 ;}
.menu_mobile .fa-facebook-square{ color:#3b5998;}
.menu_mobile .fa-envelope-square{ color:#10a6f4;}
.menu_header .menu_title{ margin-left:10px;}
.menu_title img{margin-top:5px; padding-top:0px; float:left;  }


/* config menu mobile end */
.sub-content.sitemap h3{font-size:14px; font-weight:bold;}
.sub-content.sitemap ul{padding-left:20px;}
.sub-content.sitemap ul li{list-style:disc; }
/* menu mobile end*/

.menu_title img{height:51px;}

.group-language{ float:right;  margin-right:15px;}

.group-language li{ 
display: inline-block;
list-style-type: none;
margin-right: 10px;
}

.breadcrumb{ background:#FFF;}

.pc-m-top50{margin-top:50px;}


.hotel-smt-view{display:none;}



/* hotel hover */ 
.box-room-img{position:relative;}

.box-room-img .bg_instant{ 
  background:#000;
  opacity: 0.60;
  cursor:pointer;
  display:block;
  margin:auto;
  width:  0%;      
  height: 0%;
  top: 0%;
  bottom:0%;
  left:0%;
  right:0%;
  position:absolute;
  transition:all 0.2s ease;
}

.box-room:hover .bg_instant{   
  width:100%;
  height:100%;
  display:block;
  margin:auto;
  transition:all 0.2s ease;
}

.box-room-img .msg{
  opacity: 0;
  color:#FFF; 
  position:absolute; 
  text-align:center;
  width:100%;
  top:0px; 
  bottom:0px;
  height:58px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.box-room:hover .msg{
  opacity: 1;
  transition:all 0.2s ease;
}

.box-room-img .msg .msg_group{
  display:inline-block;
  margin-top:15px;
}

.box-room-img .msg_top{      
  background: linear-gradient(to right, #FFF 50%, #FFF 50%) bottom;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  padding-left:5px; 
  padding-right:5px;
  padding-bottom:7px;
  display:inline-block;
  font-size:26px;
}

.box-room-img .msg_bottom{ 
  display:block; 
  font-size:22px; 
  padding-top:5px; 
}



a.box_hover:hover{text-decoration:none !Important;}


a.box_hover .box-group-room .box-room-detail{ color:#666 !important; }

a.box_hover .box-room-img{ opacity: 1;    transition:all 0.2s ease; }
a.box_hover:hover .box-room-img{background:#FFF; opacity: 0.60;    transition:all 0.2s ease;  filter: alpha(opacity=60); }

a.box_hover:hover .box-group-room {text-decoration:none !Important;}
a.box_hover:hover .box-room-detail{ background:#f6f6f6;  text-decoration:none !important; }
a.box_hover:hover .box-group-room  .box-room-detail{text-decoration:none !Important;}



/* hotel hover end*/


footer .footer-top .footer-link a{font-size:14px;}

.breadcrumb{font-size:14px;}

.screen-reader-response p{display:none;}
.screen-reader-response ul{display:none;}

.group-room-detail{padding-left:16px; padding-right:16px;}

.title-h3 .txt-xs{ font-size:12px; font-weight:normal; color:#212529;}
.title-h3 .txt-price{  font-size:20px; padding-left:0px; padding-top:10px; line-height:34px;}
.img-introduction {
    width: 100%;
    border: 1px solid #CCC;
    height: 240px;
	margin-top:20px;
}
.shadow-drop-center {
    box-shadow: 1px 1px 5px 0px rgba(163,163,163,1);
}

/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

.wpsm_panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.wpsm_panel-body {
  padding: 15px;
}
.wpsm_panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.wpsm_panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.wpsm_panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.wpsm_panel-title > a,
.wpsm_panel-title > small,
.wpsm_panel-title > .small,
.wpsm_panel-title > small > a,
.wpsm_panel-title > .small > a {
  color: inherit;
}
.wpsm_panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.wpsm_panel > .list-group,
.wpsm_panel > .wpsm_panel-collapse > .list-group {
  margin-bottom: 0;
}
.wpsm_panel > .list-group .list-group-item,
.wpsm_panel > .wpsm_panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.wpsm_panel > .list-group:first-child .list-group-item:first-child,
.wpsm_panel > .wpsm_panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.wpsm_panel > .list-group:last-child .list-group-item:last-child,
.wpsm_panel > .wpsm_panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.wpsm_panel > .wpsm_panel-heading + .wpsm_panel-collapse > .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.wpsm_panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .wpsm_panel-footer {
  border-top-width: 0;
}
.wpsm_panel > .table,
.wpsm_panel > .table-responsive > .table,
.wpsm_panel > .wpsm_panel-collapse > .table {
  margin-bottom: 0;
}
.wpsm_panel > .table caption,
.wpsm_panel > .table-responsive > .table caption,
.wpsm_panel > .wpsm_panel-collapse > .table caption {
  padding-right: 15px;
  padding-left: 15px;
}
.wpsm_panel > .table:first-child,
.wpsm_panel > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.wpsm_panel > .table:first-child > thead:first-child > tr:first-child,
.wpsm_panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.wpsm_panel > .table:first-child > tbody:first-child > tr:first-child,
.wpsm_panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.wpsm_panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.wpsm_panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.wpsm_panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.wpsm_panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.wpsm_panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.wpsm_panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.wpsm_panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.wpsm_panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.wpsm_panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.wpsm_panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.wpsm_panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.wpsm_panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.wpsm_panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.wpsm_panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.wpsm_panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.wpsm_panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.wpsm_panel > .table:last-child,
.wpsm_panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.wpsm_panel > .table:last-child > tbody:last-child > tr:last-child,
.wpsm_panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.wpsm_panel > .table:last-child > tfoot:last-child > tr:last-child,
.wpsm_panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.wpsm_panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.wpsm_panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.wpsm_panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.wpsm_panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.wpsm_panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.wpsm_panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.wpsm_panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.wpsm_panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.wpsm_panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.wpsm_panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.wpsm_panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.wpsm_panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.wpsm_panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.wpsm_panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.wpsm_panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.wpsm_panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.wpsm_panel > .wpsm_panel-body + .table,
.wpsm_panel > .wpsm_panel-body + .table-responsive,
.wpsm_panel > .table + .wpsm_panel-body,
.wpsm_panel > .table-responsive + .wpsm_panel-body {
  border-top: 1px solid #ddd;
}
.wpsm_panel > .table > tbody:first-child > tr:first-child th,
.wpsm_panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.wpsm_panel > .table-bordered,
.wpsm_panel > .table-responsive > .table-bordered {
  border: 0;
}
.wpsm_panel > .table-bordered > thead > tr > th:first-child,
.wpsm_panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.wpsm_panel > .table-bordered > tbody > tr > th:first-child,
.wpsm_panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.wpsm_panel > .table-bordered > tfoot > tr > th:first-child,
.wpsm_panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.wpsm_panel > .table-bordered > thead > tr > td:first-child,
.wpsm_panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.wpsm_panel > .table-bordered > tbody > tr > td:first-child,
.wpsm_panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.wpsm_panel > .table-bordered > tfoot > tr > td:first-child,
.wpsm_panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.wpsm_panel > .table-bordered > thead > tr > th:last-child,
.wpsm_panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.wpsm_panel > .table-bordered > tbody > tr > th:last-child,
.wpsm_panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.wpsm_panel > .table-bordered > tfoot > tr > th:last-child,
.wpsm_panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.wpsm_panel > .table-bordered > thead > tr > td:last-child,
.wpsm_panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.wpsm_panel > .table-bordered > tbody > tr > td:last-child,
.wpsm_panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.wpsm_panel > .table-bordered > tfoot > tr > td:last-child,
.wpsm_panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.wpsm_panel > .table-bordered > thead > tr:first-child > td,
.wpsm_panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.wpsm_panel > .table-bordered > tbody > tr:first-child > td,
.wpsm_panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.wpsm_panel > .table-bordered > thead > tr:first-child > th,
.wpsm_panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.wpsm_panel > .table-bordered > tbody > tr:first-child > th,
.wpsm_panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.wpsm_panel > .table-bordered > tbody > tr:last-child > td,
.wpsm_panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.wpsm_panel > .table-bordered > tfoot > tr:last-child > td,
.wpsm_panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.wpsm_panel > .table-bordered > tbody > tr:last-child > th,
.wpsm_panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.wpsm_panel > .table-bordered > tfoot > tr:last-child > th,
.wpsm_panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.wpsm_panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.wpsm_panel-group {
  margin-bottom: 20px;
}
.wpsm_panel-group .wpsm_panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.wpsm_panel-group .wpsm_panel + .wpsm_panel {
  margin-top: 5px;
}
.wpsm_panel-group .wpsm_panel-heading {
  border-bottom: 0;
}
.wpsm_panel-group .wpsm_panel-heading + .wpsm_panel-collapse > .wpsm_panel-body,
.wpsm_panel-group .wpsm_panel-heading + .wpsm_panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.wpsm_panel-group .wpsm_panel-footer {
  border-top: 0;
}
.wpsm_panel-group .wpsm_panel-footer + .wpsm_panel-collapse .wpsm_panel-body {
  border-bottom: 1px solid #ddd;
}
.wpsm_panel-default {
  border-color: #ddd;
}
.wpsm_panel-default > .wpsm_panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.wpsm_panel-default > .wpsm_panel-heading + .wpsm_panel-collapse > .wpsm_panel-body {
  border-top-color: #ddd;
}
.wpsm_panel-default > .wpsm_panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.wpsm_panel-default > .wpsm_panel-footer + .wpsm_panel-collapse > .wpsm_panel-body {
  border-bottom-color: #ddd;
}
.wpsm_panel-primary {
  border-color: #337ab7;
}
.wpsm_panel-primary > .wpsm_panel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.wpsm_panel-primary > .wpsm_panel-heading + .wpsm_panel-collapse > .wpsm_panel-body {
  border-top-color: #337ab7;
}
.wpsm_panel-primary > .wpsm_panel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}
.wpsm_panel-primary > .wpsm_panel-footer + .wpsm_panel-collapse > .wpsm_panel-body {
  border-bottom-color: #337ab7;
}
.wpsm_panel-success {
  border-color: #d6e9c6;
}
.wpsm_panel-success > .wpsm_panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.wpsm_panel-success > .wpsm_panel-heading + .wpsm_panel-collapse > .wpsm_panel-body {
  border-top-color: #d6e9c6;
}
.wpsm_panel-success > .wpsm_panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.wpsm_panel-success > .wpsm_panel-footer + .wpsm_panel-collapse > .wpsm_panel-body {
  border-bottom-color: #d6e9c6;
}
.wpsm_panel-info {
  border-color: #bce8f1;
}
.wpsm_panel-info > .wpsm_panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.wpsm_panel-info > .wpsm_panel-heading + .wpsm_panel-collapse > .wpsm_panel-body {
  border-top-color: #bce8f1;
}
.wpsm_panel-info > .wpsm_panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.wpsm_panel-info > .wpsm_panel-footer + .wpsm_panel-collapse > .wpsm_panel-body {
  border-bottom-color: #bce8f1;
}
.wpsm_panel-warning {
  border-color: #faebcc;
}
.wpsm_panel-warning > .wpsm_panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.wpsm_panel-warning > .wpsm_panel-heading + .wpsm_panel-collapse > .wpsm_panel-body {
  border-top-color: #faebcc;
}
.wpsm_panel-warning > .wpsm_panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.wpsm_panel-warning > .wpsm_panel-footer + .wpsm_panel-collapse > .wpsm_panel-body {
  border-bottom-color: #faebcc;
}
.wpsm_panel-danger {
  border-color: #ebccd1;
}
.wpsm_panel-danger > .wpsm_panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.wpsm_panel-danger > .wpsm_panel-heading + .wpsm_panel-collapse > .wpsm_panel-body {
  border-top-color: #ebccd1;
}
.wpsm_panel-danger > .wpsm_panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.wpsm_panel-danger > .wpsm_panel-footer + .wpsm_panel-collapse > .wpsm_panel-body {
  border-bottom-color: #ebccd1;
}

.fade {
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.wpsm_panel-group .collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}

.accordion dt a{
            border: 1px solid #9cc269;
            padding: 10px 20px;
            margin-bottom: 5px;
            position: relative;
            display: block;
          }
          .accordion dt a:after {
            content: "\f0da";
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900;
            position: absolute;
            right:20px;
            color: #9cc269;
          }
          .accordion dd {
            border: 1px solid #ccc;
            padding: 10px 20px;
            margin-top: -6px;
          }
          .accordion dt a:active:after {
            transform: rotate(90deg);
          }
          .accordion dt a.special:after {
            content: "\f0d7";
            color: #66a717;
          }