@charset "utf-8";
/* CSS Document */

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
	
header .nav_mobile{ display:block; top:50px; right:5px;}
	
header .group-contact{display:none;}
header .box-left{width:250px; padding-bottom:20px;}
header .logo{width:auto;}

.smt-padding-bottom-0{padding-bottom:0px !important;}
.smt-padding-bottom-10{padding-bottom:10px !important;}
.smt-padding-bottom-20{padding-bottom:20px !important;}

header .logo img{display:block; float:left;}
header .logo span{display:block; float:left; margin-top:39px; padding-left:12px; font-weight:bold; color:#666;}

header .header-bottom{ display:none;}

.group-mainbanner{height:225px;}
.group-mainbanner .slide-list{height:225px;}

.title-h1{font-size:24px;}

.box-white{ padding-top:35px; padding-bottom:45px;}
.box-gray{padding-top:35px; padding-bottom:35px;}
.box-gray .box-group-room{margin-bottom:20px;}

.box-white .box-room-detail{ margin-bottom:20px;}

footer .footer-top{padding-top:30px; padding-bottom:40px;}
footer .footer-top .box-info{width:100%;}
footer .footer-top .container .box-contact-box-4{display:none; padding-left:0px; background:none;}
footer .footer-top .container .box-contact-info.box-contact-box-4{ width:100%; display:block;}
footer .footer-top .box-info .box-bottom{ font-size:11px;}


/* inquire */

.form-inquire{width:100%; }

.table-contact-us{padding:0px; margin:0px; }
.text-contact{width:100%; }

.box-white img{max-width:100%;}

.form-inquire .wpcf7-submit{width:350px; display:block; background: #55a51c; margin:auto;
border: #66bc29 solid 1px; color:#FFF; padding-top:10px; padding-bottom:10px; cursor:pointer; font-weight:bold;}

.block-map .map{width:100%; height:300px; margin-top:20px;}
.block-map .text-contact{margin-top:20px ; text-align:center; }
.form-inquire .wpcf7-submit{width:100%;}

/* inquire end */

.group-language{display:none;}


.group-subbanner{height:150px;}
.group-subbanner .slide-list{ height:150px;}


.group-subbanner .container .banner-title{ top:45px; padding-top:17px; padding-bottom:17px; font-size:16px; } 

.pc-m-top50{margin-top:25px;}

.title-h3 span{font-size:20px;}

.box-detail .title-h3{padding-top:20px;}

.text-detail .btn{ margin-bottom:20px;}

.table-style1{border-spacing:0px;}
.table-style1 th, .table-style1 td{display:block; width:100%;}

.box-gray-plain{padding-bottom:55px;}

.gallery-list{padding-top:0px; margin-top:0px;}
.gallery-list ul{ padding-top:0px; margin-top:0px;}
.room_gallerybox{padding-top:0px; padding-bottom:0px;}
.room_gallerybox .main-gallery .select-img{ height:240px; position:relative;   /*height:618px; */ background:#000; display:block; position:relative;}  

.select-img img{max-height:240px; max-width:100%; width:100%; height:auto; position: absolute;               /* 2 */
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%) ; 
   object-fit: contain;
   
   }
   
   .room_gallerybox ul li{padding-top:15px;}


.hotel-smt-view{display:block;}
.hotel-pc-view{ display:none;}

.box-detail  .btn-success{float:right;}

.block-map img{max-width:100%;}

}

@media only screen and (min-device-width : 375px) and (max-device-width : 767px) {

}


@media screen  and (min-width: 768px)  and (max-width:1024px)  {	
   
   .title-h1{font-size:24px;}
   
   .group-mainbanner{height:395px;}
    .group-mainbanner .slide-list{height:395px;}

   
   header .container{padding-left:0px; padding-right:0px;}
   header .header-bottom li .txt-title{font-size:15px;}
   
   .box-room-img{height:162px;}
   .group-room-x4  .box-room-img{height:103px;}
   
   .group-room-x4 .box-room-detail{padding-left:0px; padding-right:0px;}
   
   .box-room-detail{min-height:162px;}
   
   
   footer .footer-top .container .box-contact-info.box-contact-box-4{padding-left:0px;}
   footer .footer-top .container .box-contact-box-4{width:auto;}
   footer .footer-top .box-info{width:295px;}

  
 }
 
 
